@import "../../common.less";

.header{
    //height: @header-height;
    text-align: center;
    &-menu{
        &-logo{
            float: left;
            //width: 30px;
            height: 30px;
            display: inline-block;
            line-height: @header-height;
            margin: 0 20px;
            &-img{
                width: 30px;
                height: 30px;
                display: inline-block;
                vertical-align: middle;
            }
            &-text{
                color: @Gray;
                display: inline-block;
                vertical-align: middle;
                font-size: 18px;
                margin-left: 10px;
            }
        }
        &-tab{
            min-width: 120px;
            &-item{
                min-width: 120px;
            }
        }
    }
}
