@header-height: 50px;
@dark(){
    background-color: #324157;
}

html, body, * {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    background-color: #ececec;
    color: #323232;
    -webkit-tap-highlight-color:transparent;
}


ul{  list-style-type: none;  }
li{  list-style: none;   }
textarea{  resize : none;  }
input, textarea{
    background:none;
    outline:none;
}
